{{- define "get_oss_version_by_id" -}}
  {{- $id := index . 0 -}}
  {{- $ctx := index . 1 -}}
  {{- $version := "" -}}
  {{ $ossYamlPath := printf "/oss.yaml" -}}
  {{- if not ($ctx.Files.Exists $ossYamlPath ) -}}
    {{- fail (printf "\n[ERROR] OSS file not found at path: %s" $ossYamlPath ) -}}
  {{- end -}}

  {{- $raw := printf "data:\n%s" ($ctx.Files.Get $ossYamlPath ) | fromYaml -}}
  {{- range $raw.data -}}
    {{- if eq .id $id -}}
      {{- $version = .version | default "" -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}

  {{- if eq $version "" -}}
    {{- fail (printf "\n[ERROR] Version for ID '%s' is empty or not found in file: oss.yaml" $id ) -}}
  {{- end -}}

  {{- $version -}}
{{- end -}}
