{{- define "vex mitigation" }}
  {{- $context := index . 0 }}
  {{- $imageName := index . 1 }}
---
image: {{ $imageName }}-vex-artifact
fromImage: tools/coreutils
final: true

git:
- add: /images/{{ $imageName }}/known_vulnerabilities.vex
  to: /known_vulnerabilities.vex
  stageDependencies:
    install:
    - "**/*"

dependencies:
- image: {{ $imageName }}
  before: install
  imports:
  - type: ImageDigest
    targetEnv: IMAGE_DIGEST
  - type: ImageRepo
    targetEnv: IMAGE_REPO

import:
- image: builder/alpine
  add: /etc/ssl/certs/ca-certificates.crt
  to: /etc/ssl/certs/ca-certificates.crt
  before: install
- image: tools/cosign
  add: /usr/bin/cosign
  to: /usr/bin/cosign
  before: install
- image: tools/jq
  add: /usr/bin/jq
  to: /usr/bin/jq
  before: install
- image: tools/curl
  add: /usr/bin/curl-static
  to: /usr/bin/curl
  before: install
- image: tools/bash
  add: /usr/bin/bash
  to: /bin/bash
  before: install

shell:
  install:
  - |
    cosign attest \
      --replace \
      --predicate /known_vulnerabilities.vex \
      --type openvex \
      --tlog-upload=false \
      -y \
      "${IMAGE_REPO}@${IMAGE_DIGEST}"
{{- end }}
