go 1.25.7

use (
	./api
	./e2e/agent
	./hooks/go
	./images/agent
	./images/controller
	./images/csi-driver
	./images/linstor-drbd-wait
	./images/linstor-migrator
	./images/megatest
	./images/oldcontroller
	./images/webhooks
	./lib/go/common
)
