go 1.25.5

use (
	./api
	./e2e/agent
	./hooks/go
	./images/agent
	./images/controller
	./images/csi-driver
	./images/linstor-drbd-wait
	./images/megatest
	./images/sds-replicated-volume-controller
	./images/webhooks
	./lib/go/common
)
