# Source https://github.com/kvaps/linstor-scheduler-extender/blob/master/deploy/all.yaml
{{- define "kube_scheduler_resources" }}
cpu: 10m
memory: 30Mi
{{- end }}

{{- define "linstor_scheduler_extender_resources" }}
cpu: 10m
memory: 25Mi
{{- end }}

{{- if (.Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: linstor-scheduler-extender
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "linstor-scheduler-extender")) | nindent 2 }}
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: Deployment
    name: linstor-scheduler-extender
  updatePolicy:
    updateMode: "Initial"
  resourcePolicy:
    containerPolicies:
    - containerName: linstor-scheduler-extender
      minAllowed:
        {{- include "linstor_scheduler_extender_resources" . | nindent 8 }}
      maxAllowed:
        memory: 40Mi
        cpu: 20m
{{- end }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: linstor-scheduler-extender
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "linstor-scheduler-extender" )) | nindent 2 }}
spec:
  minAvailable: {{ include "helm_lib_is_ha_to_value" (list . 1 0) }}
  selector:
    matchLabels:
      app: linstor-scheduler-extender
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: linstor-scheduler-extender
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "linstor-scheduler" )) | nindent 2 }}
spec:
  {{- include "helm_lib_deployment_strategy_and_replicas_for_ha" . | nindent 2 }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: linstor-scheduler-extender
  template:
    metadata:
      labels:
        app: linstor-scheduler-extender
    spec:
      {{- include "helm_lib_priority_class" (tuple . "system-cluster-critical") | nindent 6 }}
      {{- include "helm_lib_node_selector" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_tolerations" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_module_pod_security_context_run_as_user_nobody" . | nindent 6 }}
      {{- include "helm_lib_pod_anti_affinity_for_ha" (list . (dict "app" "linstor-scheduler-extender")) | nindent 6 }}
      imagePullSecrets:
        - name: {{ .Chart.Name }}-module-registry
      containers:
        - name: linstor-scheduler-extender
          {{- include "helm_lib_module_container_security_context_pss_restricted_flexible" (dict "ro" true "seccompProfile" true) | nindent 10 }}
          image: {{ include "helm_lib_module_image" (list . "linstorSchedulerExtender") }}
          imagePullPolicy: IfNotPresent
          args:
          - --verbose=true
          env:
            - name: LS_CONTROLLERS
              value: https://linstor.d8-{{ .Chart.Name }}.svc:3371
            - name: LS_USER_CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: linstor-client-https-cert
                  key: tls.crt
            - name: LS_USER_KEY
              valueFrom:
                secretKeyRef:
                  name: linstor-client-https-cert
                  key: tls.key
            - name: LS_ROOT_CA
              valueFrom:
                secretKeyRef:
                  name: linstor-client-https-cert
                  key: ca.crt
          volumeMounts:
          - name: scheduler-extender-certs
            mountPath: /etc/sds-replicated-volume-scheduler-extender/certs
            readOnly: true
          resources:
            requests:
              {{- include "helm_lib_module_ephemeral_storage_only_logs" . | nindent 14 }}
              {{- if not ( .Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
              {{- include "linstor_scheduler_extender_resources" . | nindent 14 }}
              {{- end }}
          ports:
           - containerPort: 8099
             protocol: TCP
             name: scheduler

      volumes:
      - name: scheduler-extender-certs
        secret:
            secretName: linstor-scheduler-extender-https-certs
      serviceAccountName: linstor-scheduler-extender
