{
  "TestId": "e2e",
  "ClusterOptions": {
    "allocateSize": "100Mi",
    "nodes": [
      {
        "name": "node1",
        "lvgName": "lvg-on-node1"
      },
      {
        "name": "node2",
        "lvgName": "lvg-on-node2"
      }
    ]
  },
  "PodLogMonitorOptions": {
    "namespace": "d8-sds-replicated-volume",
    "labelSelector": "app=agent"
  },
  "Timeouts": {
    "drbdrConfigured": "10s",
    "llvCreated": "10s"
  }
}