type: object
properties:
  registryScheme:
    description: Устаревший параметр. Удалите его из ModuleConfig для Deckhouse версии выше 1.57.
  logLevel:
    description: Уровень логирования для приложений модуля
  drbdPortRange:
    description: Настройки диапазона TCP-портов для DRBD
    properties:
      minPort:
        description: Начало диапазона портов DRBD
      maxPort:
        description: Конец диапазона портов DRBD
  dataNodes:
    description: Настройки для узлов Linstor с данными
    properties:
      nodeSelector:
        description: |
          Настройка аналогична `spec.nodeSelector` в Kubernetes.

          Если параметр не указан, поды для Linstor будут запущены на всех узлах.

          **Внимание!** При изменении этого параметра не происходит переразмещение данных. Если узел с данными перестанет соответствовать `nodeSelector`, данные на нем будут недоступны.
  backup:
    properties:
      enabled:
        description: Включение резервного копирования БД модуля
      retentionCount:
        description: Количество  резервных копий для хранения
      schedule:
        description: Расписание резервного копирования
  newControlPlane:
    description: Использовать новый control-plane как бэкенд для модуля
