{{- if not .Values.sdsReplicatedVolume.newControlPlane }}
---
kind: Service
apiVersion: v1
metadata:
  name: spaas
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "spaas")) | nindent 2 }}
spec:
  ports:
  - name: http
    port: 2020
    targetPort: http
  selector:
    app: spaas
{{- end }}
