{{- if not .Values.sdsReplicatedVolume.newControlPlane }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: linstor-port-range
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "linstor-controller")) | nindent 2 }}
data:
  minPort: "{{ $.Values.sdsReplicatedVolume.drbdPortRange.minPort }}"
  maxPort: "{{ $.Values.sdsReplicatedVolume.drbdPortRange.maxPort }}"
{{- end }}
