{{- if not .Values.sdsReplicatedVolume.newControlPlane }}
---
apiVersion: v1
kind: Service
metadata:
  {{- include "helm_lib_module_labels" (list . (dict "app" "linstor-controller" "app.kubernetes.io/instance" "linstor-controller")) | nindent 2 }}
  name: linstor
  namespace: d8-{{ .Chart.Name }}
spec:
  selector:
    app: linstor-controller
    storage.deckhouse.io/linstor-leader: "true"
  ports:
    - name: metrics
      port: 3370
      protocol: TCP
      targetPort: metrics
    - name: linstor
      port: 3371
      protocol: TCP
      targetPort: linstor
{{- end }}
